.container {
	margin: 1% 10%;
}

h1, h2, h3 {
	font-family: 'Krub', sans-serif;
}

h1 { 
	font-size: 2em;
	margin: 15px 0;
}
h2 { 
	font-size: 1.7em;
	margin: 14px 0;
}
h3 { 
	font-size: 1.3em;
	margin: 13px 0;
}
p {
	font-family: 'K2D', sans-serif;
	font-size: 1em;
	margin: 10px 0;
}

.footer {
	background-color: #557599;
	margin-bottom: 0;
	padding: 30px;
}